body {
    font-family: 'GeosansLight';
    background-size: 100%; 
    background-image: url('back.png');

}

#cuadro{
    
    width: 55%;
    padding: 40px;

    margin-left: 20%;
    margin-top: 12%;

    background-color: #FFFFFF;
    
    border: 2px solid #000000;
    border-radius: 20px;

}


p{
    font-size: 130%;
}

input{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
}

#AB {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    gap: 10px;
}
button {
    background-color: #4ea3ff;
    color: #fff;
    padding: 15px 25px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 15px; 
    font-family: 'Acme';
    
}

#R1, #R2 {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    gap: 19px;
}